#AnimateParticlesGalaxy canvas {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  user-select:none;
} 

#AnimateParticlesGalaxy canvas div {
	background-color: rgba(0,0,0,0); 
}

#AnimateParticlesGalaxy #scene {
  background-color: black;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  user-select:none;
}